<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AB platform{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>


<body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <header>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'hypotheses' %}" id="homeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hypotheses</a>
                    <div class="dropdown-menu" aria-labelledby="homeDropdown">
                        <a class="dropdown-item" href="#">View all hypotheses</a>
                        <a class="dropdown-item" href="#">Add new hypothesis</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'metrics' %}" id="featuresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Metrics</a>
                    <div class="dropdown-menu" aria-labelledby="featuresDropdown">
                        <a class="dropdown-item" href="{% url 'metrics' %}">View all metrics</a>
                        <a class="dropdown-item" href="{% url 'add_metrics' %}">Add new metric</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pricingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AB Tests</a>
                    <div class="dropdown-menu" aria-labelledby="pricingDropdown">
                        <a class="dropdown-item" href="#">View all AB tests</a>
                        <a class="dropdown-item" href="{% url 'design' %}">Design AB test</a>
                        <a class="dropdown-item" href="{% url 'report' %}">Report</a>
                        <a class="dropdown-item" href="{% url 'board' %}">Significance board</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <main id="main_id">
        {% block content %}{% endblock %}

    </main>


    <div id="footer">

        <footer class="bg-light text-center text-lg-start mt-auto">
            <div class="text-center p-3 bg-dark text-white" id="inner_footer">
                <a href="https://gitlab.tcsbank.ru/al.grishin" target="_blank">
                    About us
                </a>
            </div>
        </footer>
    </div>

</body>
</html>